<main class="">
    <div class="fondo row g-2">
        <div class="col-sx-12 col-sm-6 col-md-4 col-lg-3">
            <app-card></app-card>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-4 col-lg-3">
            <app-card></app-card>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-4 col-lg-3">
            <app-card></app-card>
        </div>
        <!-- <app-card></app-card>
        <app-card></app-card> -->
    </div>
</main>