.fondo{
    /* background-color: red; */
    /* background-image: url('src/assets/bg.jpeg'); */
    background: url('src/assets/bg.jpeg');
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
    /* padding-left: 7em; */
}