<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Lorem</h5>
      <img src="./assets/cardbg.png" class="card-img-top" alt="bg-card">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Ver mas</a>
    </div>
</div>