.row{
    /* position: fixed; */
    bottom: 0;
    height: 7rem;
    background-color: #3B3B3B;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    color: white;
}