.card{
    width: 20rem;
    padding: 2rem;
    border-radius: 25px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    background-color: #2DCC93;
    border: none;
}