<div class="content">
    <div class="card ">
        <main>

            <div class="text-center">
                <h3 class="mb-4" >Iniciar Sesión</h3>
            </div>

            <div *ngIf="erroForm" class="text-center">
              <span class="badge bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" > <b>Usuario:</b> </label>
              <input type="text" id="user"  [(ngModel)]="user" class="form-control" placeholder="example@example.com" />
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" > <b>Password:</b> </label>
              <input type="password"  id="password"[(ngModel)]="password"  class="form-control" placeholder="******************" />
            </div>
          
            <div class=" mb-4">
                <!-- Submit button -->
                <button type="button   "  (click)="loginUser()" class="btn btn-primary btn-block mb-4 w-100">Sign in</button>
                <!-- <button type="button   " routerLink="/admin" (click)="loginUser()" class="btn btn-primary btn-block mb-4 w-100">Sign in</button> -->
             
            </div>
          
          
           
        </main>
    </div>

</div>